body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2f2f2f;
}

img {
  height: auto;
  padding: 0;
  max-width: 100%;
  width: 100%
}
ul,
li,
a {
  padding: 0px;
  margin: 0px;
}
video {
  display: block;
  width:100%;
}

.hide {
  position: absolute!important;
  top: -9999px!important;
  left: -9999px!important
}

.fa-times {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

/*
.blurred {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: url(#blur);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius="3")
}
*/

html {
  -ms-overflow-style: -ms-autohiding-scrollbar
}

svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5)
}

.modal--link_list {
  list-style: none;
  padding: 1rem 0
}

.modal--link_list a {
  color: #fff
}

.modal--link_list__links {
  line-height: 1.6rem
}

.modal-width {
  max-width: none!important
}

.modal-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-top: 8rem
}

.modal-dialogue {
  max-width: 100%
}

.modal-header {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  width: 100%;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: .15rem;
  text-transform: uppercase;
  padding-top: 1.1rem;
  text-align: center;
  height: 65px;
  margin-bottom: 1.5rem
}

@media (max-width:750px) {
  .modal-header {
    letter-spacing: .1rem;
    font-size: 1rem;
    height: 2rem;
    margin-bottom: .8rem
  }
}

.modal-text {
  color: #fff;
  font-size: 1rem
}

@media (max-width:750px) {
  .modal-text {
    position: relative;
    top: -4%;
    text-align: justify;
    width: 75%;
    margin: 0 auto
  }
}

@media (max-width:750px) {
  .modal__header {
    position: relative;
    top: -412px
  }
}

.modal__asset {
  width: 100%
}

@media (max-width:750px) {
  .modal__asset {
    position: relative;
    top: -1%;
    height: 100%
  }
}

.modal__img {
  border: 1px solid #fff;
  max-width: 100%
}

.modal__video {
  border: 1px solid #fff;
  width: 99%!important;
  height: 102%!important
}

@media (max-width:750px) {
  .modal__video {
    height: 98%!important
  }
}

.modal-open,
.modal-open .navbar-fixed-top {
  margin-right: 0!important
}

.mapster_tooltip {
  content: attr(name);
  text-align: center;
  width: 18rem;
/*  margin-right: -8.5em;*/
  height: 3rem;
  background-color: #fff;
  font-size: .9em;
  font-weight: 500;
  border-radius: .5em;
  bottom: 90px;
  line-height: 3rem;
  position: absolute;
  transition: all .65s ease-in-out;
/*  margin-top: -15px;*/
  box-shadow: 0 45px 79px rgba(0, 0, 0, .5)
}

@media (max-width:750px) {
  .mapster_tooltip {
    visibility: hidden
  }
}

.mapster_tooltip:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  width: 0;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent
}

.row {
  margin: 0;
  padding: 0;
}

.header {
  height: 60px;
  margin: 0;
  letter-spacing: .15rem;
  margin-bottom: 1rem;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap
}

@media (max-width:750px) {
  .header {
    letter-spacing: .1rem
  }
}

.header__title {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

@media (max-width:750px) {
  .header__title {
    font-size: .7rem
  }
}

.btn {
  border-radius: 0;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid;
  color: #2f2f2f;
  font-weight: 300
}

.btn__header {
  border: 1px solid #2f2f2f;
  letter-spacing: .15rem;
  width: 140px;
  height: 60px;
  left: 65px;
  position: relative
}

@media (max-width:750px) {
  .btn__header {
    width: 120px;
    height: 40px;
    letter-spacing: .1rem;
    font-size: .7rem
  }
}

.btn__header:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #2f2f2f;
  height: 5.3rem;
  border-left: 1px solid #2f2f2f;
  width: 24%;
  left: -24%;
  bottom: 39%
}

.btn__header:hover {
  background-color: #2f2f2f;
  color: #fff
}

.btn__close {
  color: #fff;
  background-color: transparent;
  font-size: 1.5rem
}

.btn__close:hover {
  color: #2f2f2f;
  background-color: hsla(0, 0%, 100%, .5);
  border-color: #fff
}

.btn__modal {
  letter-spacing: .15rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff
}

.btn__modal:hover {
  background-color: #fff;
  color: #2f2f2f
}

.hotspot {
  margin: 25px;
  width: 20px;
  top: 0;
  position: absolute
}

#sanitary {
  left: 39%;
  top: 13%
}

#pumphouse {
  left: 31%;
  top: 28%
}

#digesters {
  left: 45.5%;
  top: 27%
}

#settling_basin {
  left: 41%;
  top: 21%
}

#fermenter {
  left: 65%;
  top: 30%
}

#clarifier {
  left: 37%;
  top: 57%
}

#bioreactor {
  left: 55%;
  top: 48%
}

#degritter {
  left: 51%;
  top: 17%
}

#secondary_clarifiers {
  left: 69%;
  top: 23%
}

#belt_filter {
  left: 66.5%;
  top: 41%
}

#fans {
  left: 33%;
  top: 19%
}

#pump {
  left: 25%;
  top: 76%
}

#cabinet {
  left: 39%;
  top: 50%
}

#generator {
  left: 73%;
  top: 52%
}

#sludge_drive {
  left: 69%;
  top: 32%
}

#contactor_drive {
  left: 22%;
  top: 53%
}

#digester_pump {
  left: 14%;
  top: 74%
}

#digester_motor {
  left: 48%;
  top: 25%
}

#digester_genset {
  left: 27%;
  top: 76%
}

#fermenter_center {
  left: 40%;
  top: 55%
}

#clarifier_center,
#degritter_center {
  left: 50%;
  top: 47%
}

.dot--settling-basin {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border-radius: 50%;
  position: absolute;
  background: #6947ba;
  border: 2px solid #6947ba;
  top: 50%;
  left: 50%;
  opacity: .6
}

@media (max-width:750px) {
  .dot {
    position: inline;
    background: #6947ba;
    opacity: .6
  }
}

@media (max-width:750px) {
  .dot,
  .pulse {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    border: 2px solid #6947ba;
    top: 50%;
    left: 50%
  }
  .pulse {
    position: absolute;
    background: #fff;
    -webkit-animation: a 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-border-radius: 50%;
    -ms-animation: a 2s ease-out;
    -ms-animation-iteration-count: infinite
  }
}

.pulse--settling-basin {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #6947ba;
  -webkit-animation: a 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -ms-border-radius: 50%;
  -ms-animation: a 2s ease-out;
  -ms-animation-iteration-count: infinite
}

@-webkit-keyframes a {
  0% {
    -webkit-transform: scale(1);
    opacity: .9
  }
  to {
    -webkit-transform: scale(2.5);
    opacity: 0
  }
}

@keyframes a {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .9
  }
  to {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0
  }
}

.custommodal {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.map_container {
  margin: 5vh auto 0 auto;
  width: 100%;
  height: auto;
  max-width: 1100px;
  position: relative;
}


.pump_station {
  position: absolute;
  top: 0
}

.pump_container_fix {
  margin: 0 .5%
}

.popout-container {
  position: relative;
  width: 93%;
  bottom: 5rem
}

.map {
  padding-top: 2rem
}

.h3__cabinet {
  padding-top: 1.75rem;
  color: #2f2f2f;
  font-size: 1.2rem
}

.modal-title .map {
  position: relative;
  width: 100%
}

#mapster_wrap_0 {
  margin: 0 auto
}
.video-container {
  position: relative
}

.overlay-container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 25%;
  max-width: 250px;
  height: 100%;
  overflow: hidden;
}
#nav-overlay {
  font-size: 12px;
  background-color: rgba(51, 51, 51, 0.8);
  width: 100%;
  height: 100%;
  padding: 40px 20px 0 20px;
  z-index: 2147483647;
  list-style: none;
  position: relative;
}
#nav-overlay h6 a{
  background-color: transparent !important;
  text-decoration: none;
}
#nav-overlay a {
  color: #C6C1CA;
  display: block;
}
#nav-overlay a:hover {
  color: #fff;
  background-color: rgba(89, 53, 123, 0.65);
}

#nav-overlay li ul {
  list-style: none
}

#nav-overlay > li > a {
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #dedede;
}
#nav-overlay > li:last-child a {
  border: none;
}

#nav-overlay li:hover .submenu {
  display: block;
  max-height: 200px;
}
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
  position: relative;
}
.submenu > li:last-child a {
  border: none;
  border-bottom: 1px solid #dedede;
}
.submenu a {
  padding: 8px 0;
  padding-left: 40px;
  text-decoration: none;
  display: block;
}
.submenu li a:hover {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.65);
}
.rotate {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-rotate {
  font-size:10px;
  display: inline-block;
  margin-left:5px;
}
.active:before {
  content: "";
  display: inline-block;
  position: relative;
  height: 5px;
  position: relative;
  vertical-align: middle;
  width: 20px;
  background: #9d7bbe;
  margin-top: -2px;
  margin-left: -15px;
  right: 10px;
}
#nav-overlay > h6 > .active {
  color: #fff;
  font-weight: bold;
}
#nav-overlay .active {
  color: #fff;
  font-size:14px;
  font-weight: bold;
}
.back {
  color: #333;
  padding: 15px 20px 8px 0;
  text-decoration:none;
}
.back:hover {
  color: #6a468d;
}
.next {
  position: absolute;
  right:0;
  color: #fff;
  border: 2px solid #6a468d;
  background: rgba(106,70,141,.75);
  padding: 15px 20px 8px 20px;
  transition: all 0.25s ease-in-out;
  box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.15);
}
.next:hover {
  background: rgba(106,70,141,1);
  box-shadow: 3px 3px 6px rgba(51, 51, 51, 0.2);
}
i {
  -moz-transition-duration: all 0.25s ease-in-out;
  -o-transition-duration: all 0.25s ease-in-out;
  -webkit-transition-duration: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
